<div class="col-md-8 offset-md-2">	
	<div class="user_login" >
		<h3 class="text-center">User Login</h3>
		<div class="alert alert-danger" *ngIf="isFailed"> Login Failed</div>
		<div class="alert alert-success" *ngIf="isSuces"> Login Success</div>
		<form #userForm="ngForm">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Username" [(ngModel)]="_user.username" name="username">
			</div>
			<div class="form-group">
				<input type="password" class="form-control" placeholder="Password" [(ngModel)]="_user.password" name="password">
			</div>
			<div class="form-group">
				<button (click)="userLogin()" class="btn btn-primary">Submit</button>
			</div>
		</form>
	</div>
</div>