<div class="row">
  <div class="col-sm-4" *ngFor="let bike of bikes">
    <ul class="list-group">
      <li class="list-group-item">{{bike.Company}}</li>
      <li class="list-group-item">{{bike.Model}}</li>
      <li class="list-group-item">{{bike.Location}}</li>
      <li class="list-group-item">{{bike.Price}}</li>
      <li class="list-group-item">{{bike.Date}}</li>
      <li class="list-group-item">{{bike.Description}}</li>
      <li class="list-group-item">{{bike.Picture}}</li>
      <li class="list-group-item">{{bike.Link}}</li>
      <li class="list-group-item">{{bike.inStock}}</li>
    </ul>
  </div>
</div>
